.idea
.env
venv
own.py
bot_log.log

Bot/__pycache__
Bot/app/__pycache__
Bot/app/utils/__pycache__

Bot/additioanl/__pycache__

Bot/tests/__pycache__
db/todo.py
db/__pycache__


.pytest_cache
.idea
bot_log.log
*.pyc
